<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6c">
    <!--"id" identifica seu plug-in de forma global. Deve ser exclusivo, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter pelo menos 5 caracteres e um máximo de 40. Depois de definir o ID, você não deve alterá-lo ;)-->
    <id>Gridtestepika</id>
    <!--"version" é a versão do seu plugin. Quando você lança uma nova versão do seu módulo, altere aqui =)-->
    <version>1.0</version>
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Teste de Plugin Grid</name>
        <description>Teste de plugin para tentar esconder da visão do jogador</description>
        <author>Rafilkl</author>
        <site>não tem</site>
        <contact>Nope</contact>
    </info>
</module>
